.gradle
build
jniLibs
.idea
local.properties
*.iml
obj
assets
.gdb_history
app/wrap
fabric.properties
captures
*.apk
output.json
.ccls-cache
app/nightly
app/mainline

# Log files
logcat*.txt
openmw_log.txt
buildscripts/build_log.txt
buildscripts/force_build.log
buildscripts/recent*.log
*.log
.env
